# Ignorar o diretório __pycache__
__pycache__/

# Ignorar arquivos .pyc em qualquer lugar
*.pyc

# Ignorar o diretório venv (ambiente virtual Python)
venv/

# Ignorar o diretório 117
117/

#ignorar config
config/cacert-2023-08-22.pem
#ignorar config
config/cfg.env

#ignorar .vscode
.vscode

#ignorar data/
data/

#ignorar .pytest_cache/
.pytest_cache/

#ignorar .ipynb_checkpoints/
.ipynb_checkpoints
